VITE_APPWRITE_URL = ''
VITE_APPWRITE_PROJECT_ID = ''
VITE_APPWRITE_DATABASE_ID = ''
VITE_APPWRITE_USER_COLLECTION = ''
VITE_APPWRITE_BUCKET_ID = ''
VITE_APPWRITE_USER_SOCIAL_COLLECTION = ''
VITE_APPWRITE_MANAGE_CANDIDATE_COLLECTION = ''
VITE_APPWRITE_MANAGE_POSTS_COLLECTION_ID  = ''
VITE_APPWRITE_MANAGE_PRODUCTS_COLLECTION_ID = ''
